# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*egg-info

# From nox build
build
_build
.nox

# pytest
.pytest_cache

# Potential auth keys
.github.auth

# Visual Studio Code
.vscode

src/risb/version.py
