services:
  risb:
    image: risb
    container_name: risb
    build:
      context: ../
      dockerfile: docker/Dockerfile
      args:
        - TRIQSTAG=3.2.0
    ports:
      - "8888:8888"
    stdin_open: true # docker run -i
    tty: true # docker run -t
