name: CD

on:
  pull_request:
    types:
      - closed
    branches:
      - main

jobs:

  build:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    
    steps:
    - uses: actions/checkout@v4

    - name: Bump version and push tag
      id: tag_version
      uses: mathieudutour/github-tag-action@v6.1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}

    - name: Create a GitHub release
      uses: ncipollo/release-action@v1
      with:
        tag: ${{ steps.tag_version.outputs.new_tag }}
        name: Release ${{ steps.tag_version.outputs.new_tag }}
        body: ${{ steps.tag_version.outputs.changelog }}
      
    - name: Setup Python 3.10 and TRIQS
      uses: ./.github/actions/setup-triqs
      with:
        python-version: "3.10"
      
    - name: Install risb and docs dependencies
      run: |
        source $TRIQS_INSTALL/share/triqs/triqsvars.sh
        python -m pip install .[docs]

    - name: Build docs
      run: |
        source $TRIQS_INSTALL/share/triqs/triqsvars.sh
        sphinx-apidoc -o docs/api --module-first --no-toc --force --separate src/risb
        sphinx-build -b html -n -T docs docs/_build

    - name: Upload docs artifact
      uses: actions/upload-artifact@v3
      with:
        name: docs-build
        path: docs/_build

  deploy-docs:
    needs: [build]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    
    name: Deploy docs
    steps:
    - uses: actions/checkout@v4
      
    - name: Setup Pages
      id: pages
      uses: actions/configure-pages@v3

    - name: Download docs artifact
      uses: actions/download-artifact@v3
      with:
        name: docs-build
        path: _site

    - name: Upload artifact
      uses: actions/upload-pages-artifact@v2

    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v2